@import "tailwindcss";

:root {
  --green: #1D5B43;
  --light-green: #81FE95;
  --yellow: #FFBB00;
  --gold: #FDB056;
  --red: #FF4E4E;
  --bg: #232829;
}

@theme inline {
  --color-green: var(--green);
  --color-light-green: var(--light-green);
  --color-yellow: var(--yellow);
  --color-gold: var(--gold);
  --color-red: var(--red);
  --color-background: var(--bg);
}
